@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Microsoft JhengHei;
  background-color: #dddddd;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

html {
  height: 100%;
}

.wrap {
  height: 100%;
}

.heading {
  color: #ffff;
  text-align: center;
  font-size: 36px;
}

.header {
  margin: 0px;
  padding: 0px;
  min-height: 480px;
  background-image: url("https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  width: 40%;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.menu p {
  padding: 10px 5px 10px 10px;
}

.lingya,
.sanmin,
.xinxing,
.meinong {
  /*熱門行政區*/
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.lingya:hover,
.sanmin:hover,
.xinxing:hover,
.meinong:hover,
.lingya:focus,
.sanmin:focus,
.xinxing:focus,
.meinong:focus,
.lingya:active,
.sanmin:active,
.xinxing:active,
.meinong:active {
  transform: scale(1.1);
}

.lingya {
  background-color: #8a82cc;
}

.sanmin {
  background-color: #ffa782;
}

.xinxing {
  background-color: #f5d005;
}

.meinong {
  background-color: #559ac8;
}

.menu button {
  margin-left: 20px;
  padding: 15px 20px;
  max-width: 150px;
}

.district {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-bottom: 30px;
}

.district > p {
  padding: 15px 0;
  max-width: 150px;
}

.form-select {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 280px;
}

.cityZoon {
  width: 300px;
  height: 30px;
}

.title {
  /*標題*/
  text-align: center;
  margin: 80px 0 30px 0;
  font-size: 25px;
}

.content {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  flex: 1;
  min-height: calc(100vh - 70px);
  padding-top: 5px;
}

.listBox {
  /*景點*/
  width: 100%;
  margin: 0 auto;
}

.card {
  float: left;
  width: 48%;
  height: 320px;
  margin: 5px 1%;
  background-color: #ffffff;
}

.cardtop {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/*景點名稱*/
.Attractions {
  padding: 0 0 5px 10px;
  color: aliceblue;
  font-size: 22px;
  margin-right: auto !important;
}

.zoonName {
  padding: 5px;
  color: aliceblue;
  font-size: 22px;
}

/*景點資訊*/
.cardContent {
  padding: 15px;
}

.cardContent li {
  padding-bottom: 10px;
}

.info {
  float: right;
  width: 100px;
  padding: 3px;
}

/*表尾*/
footer {
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: #559ac8;
  padding: 20px 0 20px 0;
  margin-top: 30px;
}

footer h3 {
  color: #ffffff;
}

footer p {
  color: #ffdd55;
  padding: 10px;
}

@media (max-width: 568px) {
  .card {
    float: none;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .lingya, .sanmin, .xinxing, .yancheng, .meinong {
    padding: 15px 10px !important;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 60%;
  }
}
@media (max-width: 568px) {
  .menu {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .title {
    padding-top: 40px;
    margin: 0 0 10px 0;
  }
}